.AboutSchoolInfoPage {
    padding: 20px 200px 30px 200px;
    background-color: rgb(17 24 39);
    color: rgb(202, 199, 199);
}

.wrapper_img {
    flex-wrap: wrap;
}

.img {
    height: 450px;
}

.header {
    margin-top: 50px;
    font-size: 30px;
}

.descr {
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
}

.slider {
    margin-top: 30px;
}
