.MethodsPage {
    background-color: rgb(35, 38, 44);
    color: rgb(202, 199, 199);
    height: 100vh;
}

.course {
    background-color: rgb(31 41 55);
    border: 1px solid white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.link {
    text-decoration: none;
}
