.MainBlock {
    background: linear-gradient(to right, #212121, #ffffff);
    padding: 200px 20px 0 20px;
    height: 90vh;
}

.title {
    /* background-image: linear-gradient(to right, #ffffffcc, #1a1a1acc); */
    font-weight: 900 !important;
    background-image: linear-gradient(to right, #ffa726, #ffcc80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.descr {
    font-size: 25px;
    margin: 20px 0 0 0;
    color: white;
}

.border {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../shared//assets/img/border/border.png'); /* Путь к твоей PNG-рамке */
    background-size: cover;
    pointer-events: none; /* чтобы рамка не мешала кликам по видео */
    z-index: 2;
}

.wrapper_border {
    position: relative;
    width: 684px;
    height: 645px;
    display: flex;
    justify-content: center;
}

.img {
    width: 635px;
    margin-top: 149px;
    height: 360px;
    object-fit: cover;
    display: block;
}
