@import 'fonts';

#root {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 54px;
    margin: 0;
}

h3 {
    font-size: 36px;
    margin: 0;
    color: white;
}

body {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb::before {
    background-color: rgb(193, 193, 193, 1);
    opacity: 30%;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb::after {
    background-color: rgb(193, 193, 193, 1);
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(193, 193, 193, 1);
    border-radius: 6px;
}

*::-webkit-scrollbar-track {
    /* background: rgba(2, 142, 74, 1); */
    border-radius: 6px;
}
